body {
    background-image: url(./ba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#Productos {
    padding: 30px;
    font-family: cursive;
    text-align: center;
    margin-top: 250px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10%;
    margin-right: 73%;
}

#tabla {
    float: left;
    position: absolute;
    right: 150px;
    top: 250px;
    margin-top: 10px;
    font-family: cursive;
    border-radius: 10px;
    background-color: aliceblue;
}

#button {
    margin-top: 5px;
    background-color: azure;
    border-radius: 1px;
}